In [1]:
import pandas as pd
import numpy as np

import datetime as dt

# load the raw weather data for the selected airports

In [3]:
weather_list = []
df = pd.read_csv('data/climate_data_10airports_2017_mod.csv')
weather_list.append(df)
df = pd.read_csv('data/climate_data_20airports_2017_mod.csv')
weather_list.append(df)

weather_df = pd.concat(weather_list, ignore_index=True)

In [4]:
weather_df.columns

Index(['STATION', 'NAME', 'CODE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE',
       'AWND', 'AWND_ATTRIBUTES', 'PRCP', 'PRCP_ATTRIBUTES', 'SNOW',
       'SNOW_ATTRIBUTES', 'TAVG', 'TAVG_ATTRIBUTES', 'WT01', 'WT01_ATTRIBUTES',
       'WT02', 'WT02_ATTRIBUTES', 'WT03', 'WT03_ATTRIBUTES', 'WT04',
       'WT04_ATTRIBUTES', 'WT05', 'WT05_ATTRIBUTES', 'WT06', 'WT06_ATTRIBUTES',
       'WT07', 'WT07_ATTRIBUTES', 'WT08', 'WT08_ATTRIBUTES', 'WT09',
       'WT09_ATTRIBUTES', 'WT10', 'WT10_ATTRIBUTES'],
      dtype='object')

In [5]:
weather_df.describe()

,LATITUDE,LONGITUDE,ELEVATION,AWND,PRCP,SNOW,TAVG,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10
count,10949.000000,10949.000000,10949.000000,10946.000000,10945.000000,10379.000000,10431.000000,3524.0,382.0,1353.0,56.0,26.0,46.0,21.0,1292.0,27.0,2.0
mean,37.082008,-92.570073,200.164581,8.669177,0.105013,0.033915,62.190011,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,5.691988,17.124590,371.282601,3.844818,0.383135,0.369173,16.924930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,25.788100,-122.609300,2.100000,1.120000,0.000000,0.000000,-9.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,32.897800,-111.969400,3.700000,5.820000,0.000000,0.000000,51.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,38.847200,-84.441800,29.600000,8.050000,0.000000,0.000000,65.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,40.779200,-77.447280,201.800000,10.740000,0.020000,0.000000,75.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,47.444400,-71.009700,1650.200000,38.480000,16.070000,10.900000,105.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# select required weather information

In [6]:
columns_select = ['CODE','LATITUDE', 'LONGITUDE',
                  'DATE', 'AWND', 'PRCP', 'SNOW']
weather_req_df = weather_df[columns_select]

In [7]:
weather_req_df.head(15)

   CODE  LATITUDE  LONGITUDE        DATE   AWND  PRCP  SNOW
0   LAX    33.938  -118.3888  2017-01-01   4.92  0.00   0.0
1   LAX    33.938  -118.3888  2017-01-02   5.37  0.00   0.0
2   LAX    33.938  -118.3888  2017-01-03   3.58  0.00   0.0
3   LAX    33.938  -118.3888  2017-01-04   5.14  0.04   NaN
4   LAX    33.938  -118.3888  2017-01-05   8.50  0.44   0.0
5   LAX    33.938  -118.3888  2017-01-06   5.14  0.00   0.0
6   LAX    33.938  -118.3888  2017-01-07   4.70  0.03   0.0
7   LAX    33.938  -118.3888  2017-01-08   4.03  0.00   0.0
8   LAX    33.938  -118.3888  2017-01-09   7.61  0.87   0.0
9   LAX    33.938  -118.3888  2017-01-10   7.61  0.09   0.0
10  LAX    33.938  -118.3888  2017-01-11  11.18  0.18   0.0
11  LAX    33.938  -118.3888  2017-01-12   6.04  0.71   0.0
12  LAX    33.938  -118.3888  2017-01-13   4.92  0.00   0.0
13  LAX    33.938  -118.3888  2017-01-14   4.70  0.00   0.0
14  LAX    33.938  -118.3888  2017-01-15   7.61  0.00   0.0

In [8]:
weather_req_df['CODE'].nunique()

30

In [9]:
# convert to datetime
date_fmt = '%Y/%m/%d'
weather_req_df.loc[:,'DATE'] = pd.to_datetime(weather_req_df.loc[:,'DATE'], format=date_fmt)

/Users/sakina/.local/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
weather_req_df.shape

(10949, 7)

In [11]:
weather_req_df['CODE'].value_counts()

PDX    365
PHL    365
DAL    365
SLC    365
ATL    365
MIA    365
JFK    365
MCO    365
TPA    365
CLT    365
SAN    365
DEN    365
SFO    365
DTW    365
EWR    365
FLL    365
PHX    365
LAX    365
IAH    365
IAD    365
DFW    365
ORD    365
DCA    365
LGA    365
SEA    365
BOS    365
BWI    365
LAS    365
MSP    365
MDW    364
Name: CODE, dtype: int64

In [12]:
weather_req_df.isnull().sum()

CODE           0
LATITUDE       0
LONGITUDE      0
DATE           0
AWND           3
PRCP           4
SNOW         570
dtype: int64

In [13]:
weather_req_df.fillna(-100,inplace=True)

/Users/sakina/.local/lib/python3.6/site-packages/pandas/core/frame.py:3035: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [14]:
weather_req_df.describe()

           LATITUDE     LONGITUDE          AWND          PRCP          SNOW
count  10949.000000  10949.000000  10949.000000  10949.000000  10949.000000
mean      37.082008    -92.570073      8.639402      0.068442     -5.173806
std        5.691988     17.124590      4.244245      1.951080     22.226170
min       25.788100   -122.609300   -100.000000   -100.000000   -100.000000
25%       32.897800   -111.969400      5.820000      0.000000      0.000000
50%       38.847200    -84.441800      8.050000      0.000000      0.000000
75%       40.779200    -77.447280     10.740000      0.020000      0.000000
max       47.444400    -71.009700     38.480000     16.070000     10.900000

# save the weather data

In [15]:
weather_req_df.to_csv('AirportWeatherCleanData2017.csv', index=False)
weather_req_df.to_pickle('AirportWeatherCleanData2017.pkl')